Repository mkhlmmy/performance-tips: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

release: :bookmark: v0.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(setup): :wrench: Add list of target browsers
  .browserslistrc
Due: none

chore(setup): :wrench: Set up Parcel as build tool
  .eslintignore
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  src/index.html
  src/index.js
Due: eslint --fix, prettier --write

release: :bookmark: v0.0.3
  package-lock.json
  package.json
Due: prettier --write

chore(setup): :wrench: Set up React application
  .eslintrc.json
  package-lock.json
  package.json
  src/components/App/App.jsx
  src/components/App/index.js
  src/index.js
Due: eslint --fix, prettier --write

release: :bookmark: v0.0.4
  package-lock.json
  package.json
Due: prettier --write

chore(setup): :wrench: Set up Stylelint to lint CSS files
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write

release: :bookmark: v0.0.5
  package-lock.json
  package.json
Due: prettier --write

chore(setup): :lipstick: Normalise and reset CSS rules
  package-lock.json
  package.json
  src/index.js
  src/styles/index.css
  src/styles/reset.css
  src/styles/typography.css
Due: eslint --fix, prettier --write

release: :bookmark: v0.0.6
  package-lock.json
  package.json
Due: prettier --write

chore(styles): :lipstick: Set default font size to 16px
  src/styles/typography.css
Due: prettier --write

chore(styles): :lipstick: Load normalise, reset and typography styles as a separate file
  src/index.html
  src/index.js
Due: eslint --fix, prettier --write

release: :bookmark: v0.0.7
  package-lock.json
  package.json
Due: prettier --write

feat: :sparkles: Add different ways to load an image to reflect LCP changes
  package-lock.json
  package.json
  src/components/App/App.jsx
  src/components/App/App.module.css
  src/images/hero-image.jpg
Due: eslint --fix, prettier --write

release: :bookmark: v0.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: :art: Update index.html and package.json description
  package.json
  src/index.html
Due: prettier --write

release: :bookmark: v0.1.1
  package-lock.json
  package.json
Due: prettier --write

feat: :sparkles: Use URL hash to determine how to render image
  src/components/App/App.jsx
Due: eslint --fix, prettier --write

release: :bookmark: v0.2.0
  package-lock.json
  package.json
Due: prettier --write

feat: :sparkles: Add artificial delay script
  src/index.html
Due: none

release: :bookmark: v0.3.0
  package-lock.json
  package.json
Due: prettier --write

chore: :bento: Load original image size
  src/components/App/App.jsx
  src/components/App/App.module.css
Due: eslint --fix, prettier --write

release: :bookmark: v0.3.1
  package-lock.json
  package.json
Due: prettier --write

fix: :lipstick: Fix layout shift when using video poster
  src/components/App/App.module.css
Due: prettier --write

release: :bookmark: v0.3.2
  package-lock.json
  package.json
Due: prettier --write

chore(styles): :lipstick: Amend styles
  src/components/App/App.jsx
  src/components/App/App.module.css
Due: eslint --fix, prettier --write

release: :bookmark: v0.3.3
  package-lock.json
  package.json
Due: prettier --write

chore: :sparkles: Use only <img /> on the page
  src/components/App/App.jsx
  src/components/App/App.module.css
Due: eslint --fix, prettier --write

chore: :sparkles: Use only <svg><image /></svg> on the page
  src/components/App/App.jsx
  src/components/App/App.module.css
Due: eslint --fix, prettier --write

chore: :sparkles: Use only <video /> on the page
  src/components/App/App.jsx
  src/components/App/App.module.css
Due: eslint --fix, prettier --write

chore: :sparkles: Use only background-image on the page
  src/components/App/App.jsx
  src/components/App/App.module.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{js,jsx,json,css,md}
